## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.3
  - nightly
notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
    allow_failures:
        - julia: nightly

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

## uncomment the following lines to override the default test script
#  script:
#   - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#   - julia -e 'if VERSION >= v"0.7.0-" using Pkg; end; Pkg.clone(pwd()); Pkg.build("MarketCycles"); Pkg.test("MarketCycles"; coverage=true)';
after_success:
  # push coverage results to Coveralls
    - julia -e 'using Pkg; cd(Pkg.dir("MarketCycles")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'

  # push coverage results to Codecov
    - julia -e 'using Pkg; cd(Pkg.dir("MarketCycles")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
